.container {
    display: flex;
    gap: 5px;
  }
  
  .container-student {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
  }
  
  .child {
    width: 100%;
  }
  
  .child-student {
    width: 30%;
  }
  